<table>
  <tr>
    <th>Sensor 1</th>
    <th>Sensor 2</th>
    <th>Sensor 3</th>
    <th>Sensor 4</th>
    <th>Created At</th>
    <th>Updated At</th>
  </tr>
  <tr>
    <% @sensor.each do |x| %>
        <td><%= x.sensor_1 || "nil" %></td>
        <td><%= x.sensor_2 || "nil" %></td>
        <td><%= x.sensor_3 || "nil" %></td>
        <td><%= x.sensor_4 || "nil" %></td>
        <td><%= x.created_at %></td>
        <td><%= x.updated_at %></td>
    <% end %>
  </tr>
</table>