<div class="contact-form col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="contact-left col-md-6 col-sm-6 col-xs-12 no-padding main-form">
    <div class="contact-left-form col-md-12 col-sm-12 col-xs-12 no-padding">
      <h4 id="project_enquiry">Project Enquiry</h4>
      <div id="form" class="project_enquiry">
        <%= form_tag("/submit_enquiry", method: "post", multipart: true, id: "validate_form", :class=> "common_form product_enquiry") do |f| %>
            <p>
              <%= text_field_tag 'name', nil, {class: "form-white", :placeholder => "Name *"} %>
            </p>
            <p>
              <%= text_field_tag 'email', nil, class: "form-white", :placeholder => "Email *" %>
            </p>
            <p>
              <%= text_field_tag 'company', nil, class: "form-white", :placeholder => "Company *" %>
            </p>
            <p>
              <%= text_field_tag 'website', nil, class: "form-white", :placeholder => "Website" %>
            </p>
            <p>
              <%= text_field_tag 'budget', nil, class: "form-white", :placeholder => "Budget *" %>
            </p>
            <p>
              <%= text_field_tag 'start_date', nil, class: "form-white", :placeholder => "Expected date of Start of Work *" %>
            </p>
            <p>
              <%= text_field_tag 'schedule', nil, class: "form-white", :placeholder => "Expected Project Schedule" %>
            </p>
            <p>
              <%= text_area_tag 'tell_us_mores', nil, class: "form-white", :placeholder => "Tell us about your project", :rows => 3 %>
            </p>
            <%= hidden_field_tag "validate", @validate_project %>

            <div class="button_input col-md-12 col-sm-12 col-xs-12">
              <button class="btn" value="" name="commit">Kick Start Your Project</button>
            </div><!--BUTTON_INPUT-->
        <% end %>
      </div>
    </div><!--CONTACT-LEFT-FORM-->

    <div class="button_input single col-md-12 col-sm-12 col-xs-12 another-form">
      <p>Thanks for your Interest, our engineers will get back to you as soon as posisble</p>
      <button class="btn" value="" name="commit">Submit Another Form</button>
    </div><!--BUTTON_INPUT-->

  </div><!--CONTACT-LEFT-->

  <div class="contact-right col-md-6 col-sm-6 col-xs-12 no-padding main-form">
    <div class="contact-right-form col-md-12 col-sm-12 col-xs-12 no-padding">
      <h4 id="machine_enquiry">Individual Machine Enquiry</h4>

      <div id="form" class="machine_enquiry">
        <%= form_tag("/submit_enquiry", method: "post", multipart: true, id: "validate_form", :class=> "common_form product_enquiry") do |f| %>
            <p>
              <%= text_field_tag 'name', nil, {class: "form-white", :placeholder => "Name *"} %>
            </p>
            <p>
              <%= text_field_tag 'email', nil, class: "form-white", :placeholder => "Email *" %>
            </p>
            <p>
              <%= text_field_tag 'company', nil, class: "form-white", :placeholder => "Company *" %>
            </p>
            <p>
              <%= text_field_tag 'website', nil, class: "form-white", :placeholder => "Website" %>
            </p>
            <p>
              <%= text_field_tag 'product', nil, class: "form-white", :placeholder => "Product *" %>
            </p>
            <p>
              <%= text_field_tag 'capacity', nil, class: "form-white", :placeholder => "Capacity" %>
            </p>
            <p>
              <%= text_field_tag 'schedule', nil, class: "form-white", :placeholder => "Expected Project Schedule" %>
            </p>
            <p>
              <%= text_area_tag 'tell_us_more', nil, class: "form-white", :placeholder => "Tell us about your expectations", :rows => 3 %>
            </p>
            <%= hidden_field_tag "validate", @validate_machine %>

            <div class="button_input col-md-12 col-sm-12 col-xs-12">
              <button class="btn" value="" name="commit">Submit My Machine</button>
            </div><!--BUTTON_INPUT-->
        <% end %>
      </div>
    </div><!--CONTACT-RIGHT-FORM-->

    <div class="button_input single col-md-12 col-sm-12 col-xs-12 another-form">
      <p>Thanks for your Interest, our engineers will get back to you as soon as posisble</p>
      <button class="btn" value="" name="commit">Submit Another Form</button>
    </div><!--BUTTON_INPUT-->

  </div><!--CONTACT-RIGHT-FORM-->
</div><!--CONTACT-RIGHT-->