<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="contact-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
        <h3 class="title"><a>Contact Us</a></h3>

            <div class="text-content col-md-12 col-sm-12 col-xs-12 no-padding">
              <!--<h4><a href="#nogo">Get in Touch to get the Ball Rolling!!</a></h4>-->
              <p>Engineers at Nesans are always at your service and we are there every time to answer all your possible questions. Reach to us and We’ll get back as soon as possible
              </p>
              <p>Even if there is something you have expected Nesans to do and cannot find it in our site, please feel free to reach out to us and we assure you the best we can do on it.
                We are open to innovation and in Nesans the BOX DOES NOT EXIST.
              </p>
            </div><!--TEXT-CONTENT-->


	          <div class="contact-form col-md-12 col-sm-12 col-xs-12 no-padding">
							<div class="contact-left col-md-6 col-sm-6 col-xs-12 no-padding">
							  <div class="contact-left-form col-md-12 col-sm-12 col-xs-12 no-padding">
									<h4>Project Enquiry</h4>
							    <%= form_tag("/submit_enquiry", method: "post", multipart: true, id: "validate_form") do |f| %>

							      <p>
							        <%= text_field_tag 'name', nil, {class: "form-white", :placeholder => "Name *"} %>
							      </p>

							      <p>
							        <%= text_field_tag 'email', nil, class: "form-white", :placeholder => "Email *" %>
							      </p>

							      <p>
							        <%= text_field_tag 'company', nil, class: "form-white", :placeholder => "Company *" %>
							      </p>

							      <p>
							        <%= text_field_tag 'website', nil, class: "form-white", :placeholder => "Website" %>
							      </p>

							      <p>
							        <%= text_field_tag 'budget', nil, class: "form-white", :placeholder => "Budget *" %>
							      </p>

							      <p>
							        <%= text_field_tag 'start_date', nil, class: "form-white", :placeholder => "Expected date of Start of Work *" %>
							      </p>

							      <p>
							        <%= text_field_tag 'schedule', nil, class: "form-white", :placeholder => "Expected Project Schedule" %>
							      </p>

							      <p>
							        <%= text_area_tag 'tell_us_more', nil, class: "form-white", :placeholder => "Tell us about your project", :rows => 3 %>
							      </p>

							      <div class="button_input col-md-12 col-sm-12 col-xs-12">
							        <button class="btn" value="" name="commit">Kick Start Your Project</button>
							      </div><!--BUTTON_INPUT-->

							    <% end %>

							  </div><!--CONTACT-LEFT-FORM-->

							  <div class="button_input single col-md-12 col-sm-12 col-xs-12">
							    <button class="btn" value="" name="commit">Submit Another Form</button>
							  </div><!--BUTTON_INPUT-->

							</div><!--CONTACT-LEFT-->

	            <div class="contact-right col-md-6 col-sm-6 col-xs-12 no-padding">
	              <div class="contact-right-form col-md-12 col-sm-12 col-xs-12 no-padding">
		              <h4>Individual Machine Enquiry</h4>

		              <p><input type="text" value="" placeholder="Name" class="form-white"></p>

		              <p><input type="text" value="" placeholder="Email" class="form-white"></p>

		              <p><input type="text" value="" placeholder="Company" class="form-white"></p>

		              <p><input type="text" value="" placeholder="Website" class="form-white"></p>

		              <p><input type="text" value="" placeholder="Product" class="form-white"></p>

		              <p><input type="text" value="" placeholder="Capacity" class="form-white"></p>

		              <p><input type="text" value="" placeholder="Expected Project Schedule" class="form-white"></p>

		              <p><textarea type="text" value="" rows="3" placeholder="Tell us your expectations" class="form-white"></textarea></p>

		              <div class="button_input col-md-12 col-sm-12 col-xs-12">
		                <button class="btn" value="" name="commit">Submit My Machine</button>
		              </div><!--BUTTON_INPUT-->
								</div><!--CONTACT-RIGHT-FORM-->

	              <div class="button_input single col-md-12 col-sm-12 col-xs-12">
	                <button class="btn" value="" name="commit">Submit Another Form</button>
	              </div><!--BUTTON_INPUT-->

	            </div><!--CONTACT-RIGHT-FORM-->
	          </div><!--CONTACT-RIGHT-->

	          <div class="contact-content col-md-12 col-sm-12 col-xs-12">
	            <div class="contact-left col-md-6 col-sm-6 col-xs-12 no-padding">
								<p><span>EMAIL : </span><a href="#nogo">info@thenesans.com</a></p>

		            <p><span>PHONE : </span>(+91) 9578 799 700 / 711 / 722</p>

		            <p><b>CORPORATE OFFICE : </b>
			               <br>
			               SF No 20/1, Eachanary Madukkarai Road
			               <br>
			               Madukkarai ,
			               <br>
			               Coimbatore - 641105,
			               <br>
			               Tamilnadu
			               <br>
			               India.
		            </p>
		          </div><!--CONTACT-LEFT-->

	            <div class="contact-right col-md-6 col-sm-6 col-xs-12 no-padding">
	              <p><span>SKYPE : </span> <br> Sivabalan.Nesans ( sivabalan.s@thenesans.com )</p>

	              <p class="no-margin"><b>OUR SOCIAL PRESENCE : </b><br>Follow us on LinkedIn and Google+ , Pop in and say Hello !!</p>

	              <ul class="list-unstyled">
	                <li><a href="https://www.linkedin.com/company/nesans-mining-and-automation-private-limited/"><span class="fa fa-linkedin"></span></a></li>
	                <li><a href="https://plus.google.com/+ssengineersindiain"><span class="fa fa-google-plus"></span></a></li>
		             </ul>
	            </div><!--CONTACT-RIGHT-->

	          </div><!--CONTACT-CONTENT-->
        </div><!--CONTENT-->

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--SUMMARY-BLOCK-->

</div><!--CONTAINER-BLOCK-->

<script>
	$('#validate_form button').click(function(e){
		$('#validate_form input').each(function(){
			var val = $(this).attr('id');
			var ary = <%=raw @validate %>;
			if(($.inArray(val, ary))>=0){
				if($(this).val() == ''){
					var self = $(this), activatedClass = 'validate-err btn-error';
					error_shake(self, activatedClass, 4000);
					e.preventDefault();
				}
			}
		});
	});
</script>
