<div class="container-block col-md-12 col-sm-12 col-xs-12 no-padding">
  <div class="summary-block col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">

        <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">
          <h3 class="title"><a ><%= @product.name %></a></h3>

          <div class="summary-text col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="text-content col-md-12 col-sm-12 col-xs-12 no-padding">
              <%= raw @product.content %>
            </div><!--TEXT-CONTENT-->
            <!-- <img src=""> -->
          </div><!--SUMMARY-TEXT-->

        </div><!--CONTENT-->

        <% @articles.each_slice(2).each do |articles|%>

          <div class="content col-md-12 col-sm-12 col-xs-12 no-padding">

            <div class="product-content col-md-12 col-sm-12 col-xs-12 no-padding">
              <% articles.each do |article|%>

                <div class="product-parent col-md-6 col-sm-6 col-xs-6 no-padding">
                  <div class="product col-md-12 col-sm-12 col-xs-12 no-padding">
                    <div class="image-content col-md-12 col-sm-12 col-xs-12 no-padding">
                      <a href="/products/<%= @product.alias_url + "/" + article.alias_url %>"><img src="<%= article.img_url%>" alt="product-img" class="img-responsive"></a>
                      <a href="/products/<%= @product.alias_url + "/" + article.alias_url %>" class="text-content">
                        <span><%= article.title %></span> </a>
                    </div><!--IMAGE-CONTENT-->
                  </div><!--PRODUCT-->
                </div><!--PRODUCT-PARENT-->

              <% end %>

            </div><!--PRODUCT-CONTENT-->
          </div><!--CONTENT-->

        <% end %>

        <%#= link_to x.title, "/products/#{@product.alias_url + "/" + x.alias_url}" %>
        <%# end %>

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--SUMMARY-BLOCK-->

</div><!--CONTAINER-BLOCK-->
