<header>
  <div class="header-top col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="container no-padding">
      <div class="row no-margin">
        <div class="logo col-md-5 col-sm-5 col-xs-12 no-padding">
          <a href="/"><img src="/image/logo.png" class="img-responsive" alt="logo"/></a>
        </div><!--LOGO-->

        <div class="social-icon col-md-7 col-sm-7 col-xs-12 no-padding">
          <ul class="list-inline">
            <li><a href="https://www.linkedin.com/company/nesans-mining-and-automation-private-limited/" target="_blank"><span class="fa fa-linkedin"></span></a></li>
            <li><a href="https://plus.google.com/+ssengineersindiain" target="_blank"><span class="fa fa-google-plus"></span></a></li>
            <li><a href="mailto:sivabalan.s@thenesans.com"><span class="fa fa-envelope"></span></a></li>
          </ul>

          <!--<div class="search">-->
          <!--<span><a href="#nogo"><span class="fa fa-search"></span></a></span>-->
          <!--<input type="text" placeholder="..search">-->
          <!--</div>-->
        </div>

        <div class="menublock col-md-12 col-sm-12 col-xs-12">
          <div class="d-menu">
            <a href="#nogo" class="menu-icon"></a>
          </div>

          <ul class="menu">
            <li><a href="/">HOME</a></li>
            <li><a href="/products">PRODUCTS</a></li>
            <li><a href="/about-us">NESANS OEM</a></li>
            <li><a href="/spares">SPARES</a></li>
            <li><a href="/showroom">SHOWROOM</a></li>
            <li><a href="/contact-us">CONTACT US</a></li>
          </ul>
        </div>

      </div><!--ROW-->
    </div><!--CONTAINER-->
  </div><!--HEADER-TOP-->

  <!--<div class="menublock col-md-12 col-sm-12 col-xs-12">
    <div class="container no-padding">

      <div class="row no-margin">
        <div class="d-menu">
          <a href="#nogo" class="menu-icon"></a>
        </div>

        <ul class="menu">
          <li><a href="/">HOME</a></li>
          <li><a href="/products">PRODUCTS</a></li>
          <li><a href="/nesan-oem">NESANS OEM</a></li>
          <li><a href="/spares">SPARES</a></li>
          <li><a href="/showroom">SHOWROOM</a></li>
          <li><a href="/contact-us">CONTACT US</a></li>
        </ul>

      </div><!--ROW--
    </div><!--CONTAINER--
  </div><!--MENUBLOCK-->

  <% if @page_properties[:carousel] %>

      <div class="banner col-md-12 col-sm-12 col-xs-12 no-padding">
        <div class="flexslider">
          <ul class="slides">

            <li>
              <img src="http://res.cloudinary.com/lokeshwrn/image/upload/v1460127634/thenesans/5.png" class="img-responsive" alt="banner">
              <div class="banner-content one" style="display:none;">
                <h2><a>NESANS</a></h2>
                <p>Automation</p>
              </div><!--BANNER-CONTENT-->

              <div class="banner-content wow bounceInUp" data-delay="0.8s">
                <h2><a>Our Sophisticated Drive Technology has made Screening and Washing Easier</a></h2>
                <p>Our Energy Efficient Drive Systems ( EEDS ) can save a huge part of your utility Bill.</p>
                <h3>AT NESANS WE TRY TO EXPERTISE ENERGY</h3>
              </div><!--BANNER-CONTENT-->
            </li>

            <li>
              <img src="http://res.cloudinary.com/lokeshwrn/image/upload/v1460127634/thenesans/2.png" class="img-responsive" alt="banner">
              <div class="banner-content one" style="display:none;">
                <h2><a>NESANS</a></h2>
                <p>Automation</p>
              </div><!--BANNER-CONTENT-->

              <div class="banner-content wow bounceInUp" data-delay="0.8s">
                <h2><a>Integrated Screening designed to accommodate variety of Screening media</a></h2>
                <p>Our Linear and Eccentric Vibratory Screens are one of its kind.</p>
                <h3>REDUNDANT DESIGN COMBINED WITH OPERATIONAL RELIABILITY</h3>
              </div><!--BANNER-CONTENT-->
            </li>

            <li>
              <img src="http://res.cloudinary.com/lokeshwrn/image/upload/v1460127634/thenesans/1.png" class="img-responsive" alt="banner">
              <div class="banner-content one" style="display:none;">
                <h2><a>NESANS</a></h2>
                <p>Automation</p>
              </div><!--BANNER-CONTENT-->

              <div class="banner-content wow bounceInUp" data-delay="0.8s">
                <h2><a>Our Conveyors think and communicate.</a></h2>
                <p>Our Enhanced Automated Technology helps to reduce downtime and also cut out maintanance costs.</p>
                <h3>AT NESANS WE DO FRONTLINE ENGINEERING</h3>
              </div><!--BANNER-CONTENT-->
            </li>

          </ul>
        </div>
      </div><!--BANNER-BLOCK-->

  <% elsif @article and @article.article_type != "Static-Page" %>

      <div class="container no-padding">
        <div class="row no-margin">
          <div class="banner banner-without-slide col-md-12 col-sm-12 col-xs-12 no-padding">

            <ul class="list-unstyled">
              <li>
                <div class="banner-text col-md-5 col-sm-5 col-xs-12">
                  <h2><a><%= @article.banner_text ||= @page_properties[:banner_content] %></a></h2>
                </div><!--BANNER-CONTENT-->
                <div class="banner-img col-md-7 col-sm-7 col-xs-12 no-padding">
                  <img src="<%= @article.banner_url ||= @page_properties[:banner_img] %>" class="img-responsive" alt="banner">
                </div><!--BANNER-IMG-->
              </li>
            </ul>

          </div><!--BANNER-->
        </div>
      </div>

  <% else %>

      <div class="banner banner-without-slide col-md-12 col-sm-12 col-xs-12 no-padding">

        <ul class="list-unstyled">
          <li>
            <img src="<%= @article.banner_url ||= @page_properties[:banner_img] rescue @page_properties[:banner_img] %>" class="img-responsive" alt="banner">
            <div class="banner-content wow bounceInUp" data-delay="0.8s">
              <% if @article.present? %>
                  <% if @article.banner_text.present? %>
                      <h2><a><%= @article.banner_text %></a></h2>
                  <% end %>
              <% else %>
                  <h2><a><%= @page_properties[:banner_content] %></a></h2>
              <% end %>
            </div><!--BANNER-CONTENT-->
          </li>
        </ul>

      </div><!--BANNER-->
  <% end %>
</header>