<!DOCTYPE html>
<html>
<head>
  <title>
    <%= @page_properties[:page_title] ||= "Nesan M&A" %>
  </title>

  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=2.0,minimum-scale=1.0" />

  <%= csrf_meta_tags %>

  <style type="text/css">
      body{-webkit-text-size-adjust: 100%;}
  </style>

</head>
<body>

<div id="wrapper">
<%# cache(generate_login_keys, :expires_in => 1.hour) do %>
  <%= render :partial => 'layouts/header' %>
<%# end %>

  <%= yield %>

  <%= render :partial => 'layouts/footer' %>
</div>

</body>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

<link href='https://fonts.googleapis.com/css?family=Josefin+Slab:400,700,600' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
<!--<script src="/bootstrap-3.3.6/js/bootstrap.min.js"></script>-->
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<!--<script src="/jquery-1.12.3.min.js"></script>-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<!-- Select tag convertion Script -->
<script>
    (function () {
        [].slice.call(document.querySelectorAll('select.cs-select')).forEach(function (el) {
            new SelectFx(el);
        });
    })();
</script>

<!--Google analytics Script-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76983855-1', 'auto');
    ga('send', 'pageview');
</script>

<% unless @page_properties[:disable] %>
    <!--Selection disable script-->
    <script>
        jQuery.fn.extend({
            disableSelection : function() {
                return this.each(function() {
                    this.onselectstart = function() { return false; };
                    this.unselectable = "on";
                    jQuery(this).css('user-select', 'none');
                    jQuery(this).css('-o-user-select', 'none');
                    jQuery(this).css('-moz-user-select', 'none');
                    jQuery(this).css('-khtml-user-select', 'none');
                    jQuery(this).css('-webkit-user-select', 'none');
                });
            }
        });

        $('body').disableSelection();

    </script>
<% end %>

<!--Flex slider script-->
<script>
    $(window).load(function() {
        $('.flexslider').flexslider({
            animation : "slide",
            animationSpeed : 2000,
            controlNav : false,
            easing : "swing",
            touch : true,
            pauseOnHover : true
        });
        
        $("#contact_pop").on('click',function(){
        	console.log("asdf");
			//event.preventDefault();
			$(".popup").show();
		});
		
		
		$("#close_id").click(function(){
			$(".popup").hide();
		});
		
    });
    
    $(window).load(function(){
        /* wow script for animation */
        var wow = new WOW().init();
    });
</script>

<script>
	var myCenter=new google.maps.LatLng(10.930990,76.971939);
	var marker;
	
	function mapInit()
	{
	var mapProp = {
	  center:myCenter,
	  zoom:17,
	  mapTypeId:google.maps.MapTypeId.HYBRID
	  };
	
	var map=new google.maps.Map(document.getElementById("contact_map"),mapProp);
	
	var marker=new google.maps.Marker({
	  position:myCenter,
	  animation:google.maps.Animation.BOUNCE
	  });
	
	marker.setMap(map);
	}
	
	google.maps.event.addDomListener(window, 'load', mapInit);
</script>

<%#= render :partial => 'layouts/validation_script' %>
</html>
