<!DOCTYPE html>
<html>
<head>
  <title>Thenesan</title>

  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=2.0,minimum-scale=1.0" />

  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:400,700,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <style type="text/css">
	  body{-webkit-text-size-adjust: 100%;}
  </style>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
  <!-- <link href="stylesheets/bootstrap.min.css" media="all" type="text/css" rel="stylesheet"/> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!--<link href="stylesheets/flexslider.css" media="all" type="text/css" rel="stylesheet"/>-->
  <!--<link href="stylesheets/animate.css" media="all" type="text/css" rel="stylesheet"/>-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

</head>
<body>

<div id="wrapper">
<% cache(generate_login_keys, :expires_in => 5.days) do %>
  <%= render :partial => 'layouts/header' %>
<% end %>
  <%= yield %>

  <%= render :partial => 'layouts/footer' %>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
<script>
	(function () {
    [].slice.call(document.querySelectorAll('select.cs-select')).forEach(function (el) {
        new SelectFx(el);
    });
})();
//
//	tinymce.init({
//		selector: "textarea",  // change this value according to your HTML
//		plugins: "preview",
//		menubar: "view",
//		toolbar: "preview",
//		plugin_preview_height: 500
//	});

</script>
<%= render :partial => 'layouts/validation_script' %>
</html>
